.Champion {
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;
  padding-top: 140px;
  padding-bottom: 185px;
}

.Champion .inner {
  width: 1960px;
  margin: 0 auto;
}

.Champion .Champion_container {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  /* padding-top: 140px;
  padding-bottom: 185px; */
}

.Champion_text {
  text-align: center;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9997;
}

.Champion_text p:nth-of-type(1) {
  font-size: 30px;
}

.Champion_text h1 {
  font-size: 50px;
  font-weight: 900;
}

.Champion_text p:nth-of-type(2) {
  font-size: 12px;
}

.Champion_text .Champion_div {
  width: 500px;
  height: 100px;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.Champion_text .Champion_div div:nth-of-type(1) {
  box-sizing: border-box;
  margin: 0 20px;
  width: 50%;
  height: 50px;
  background: linear-gradient(-135deg, transparent 10px, rgb(208, 168, 92) 0)
      right,
    linear-gradient(45deg, transparent 10px, rgb(208, 168, 92) 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.Champion_text .Champion_div div:nth-of-type(2) {
  box-sizing: border-box;
  margin: 0 20px;
  width: 50%;
  height: 50px;
  background: linear-gradient(-135deg, transparent 10px, rgb(11, 198, 227) 0)
      right,
    linear-gradient(45deg, transparent 10px, rgb(11, 198, 227) 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.Champion_text .Champion_div div:nth-of-type(1):hover {
  background: linear-gradient(
        -135deg,
        rgb(208, 168, 92) 10px,
        rgb(208, 168, 92) 0
      )
      right,
    linear-gradient(45deg, rgb(208, 168, 92) 10px, rgb(208, 168, 92) 0) left;
}

.Champion_text .Champion_div div:nth-of-type(2):hover {
  background: linear-gradient(
        -135deg,
        rgb(11, 198, 227) 10px,
        rgb(11, 198, 227) 0
      )
      right,
    linear-gradient(45deg, rgb(11, 198, 227) 10px, rgb(11, 198, 227) 0) left;
}

.Champion_img {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 500px;
  display: flex;
}

.Champion_img .Champion_ul {
  width: 50%;
  height: 100%;
}

.Champion_img .img_screen {
  width: 700px;
  height: 700px;
  position: relative;
  right: 200px;
  top: 60px;
}

.Champion_ul ul {
  position: absolute;
  top: 40%;
  left: 1%;
  display: flex;
  width: 50%;
  height: 30%;
}

.Champion_ul ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 100%;
  margin: 0 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.Champion_ul ul li:hover .circle {
  background: black;
}

.Champion_ul ul li span {
  font-weight: 800;
  color: black;
}

.Champion_ul ul li:hover svg.Class_image_none {
  fill: black;
  transform: translateY(-6px);
  scale: 1.2;
  transition: all 1s ease;
}

.Champion_ul ul li svg.Class_image {
  position: relative;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  fill: black;
  transition: all 1s ease;
}

.Champion_ul ul li svg.Class_image_none {
  position: relative;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  fill: rgb(230, 233, 236);
}
.svg_hover1 {
  position: absolute;
  top: -10px;
  left: -28px;
  width: 100px;
  transition: all 1s ease;
}
.svg_hover {
  top: -15px;
  left: -25px;
  position: absolute;
  width: 100px;
  height: 100px;
  /* max-width: 100%;
  max-height: 100%; */
  fill: gold;
  opacity: 1;
  transition: all 1s ease;
}

.svg_hover_none {
  opacity: 0;
}
.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(230, 233, 236);
  margin: 0 auto;
  opacity: 0;
  transition: all 1s ease;
}

.circle.On {
  position: relative;
  background: gold;
  opacity: 1;
  transition: all 1s ease;
}

.circle.On::before {
  content: "";
  position: absolute;
  background-color: gold;
  top: -24px;
  left: 50%;
  width: 2px;
  transform: translateX(-50%);
  height: 36px;
}

.circle.On::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 1px solid gold;
}

.champion_video_position {
  width: 100%;
  height: 100vh;
}

.Champion_container video {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 400px;
  height: 300px;
}
.border_video {
  position: absolute;
  top: 42%;
  left: 10.5%;
  border: 1px solid rgb(230, 233, 236);
  width: 380px;
  height: 250px;
  border-radius: 0 20px 0 0;
}

.img_screen_name {
  position: absolute;
  top: 800px;
  right: 500px;
  text-align: center;
}

.line {
  position: relative;
  top: 342px;
  width: 2900px;
  height: 2px;
  background-color: rgb(230, 233, 236);
}

.line_circle {
  width: 800px;
  height: 800px;
  position: absolute;
  left: 50.3%;
  top: -30px;
  border-radius: 50%;
  border: 1px solid rgb(230, 233, 236);
}

.img_screen_name h1 {
  font-size: 20px;
  font-weight: 800;
}

.img_screen_name p {
  font-size: 14px;
}

/* .Champion_text .Champion_div div:nth-of-type(1) {
    box-sizing: border-box;
    margin: 30px 20px;
    width: 50%;
    height: 50px;
    background: linear-gradient(-135deg, transparent 10px, rgb(208, 168, 92) 0)
        right,
      linear-gradient(45deg, transparent 10px, rgb(208, 168, 92) 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .Champion_text .Champion_div div:nth-of-type(2) {
    box-sizing: border-box;
    margin: 0 20px;
    width: 50%;
    height: 50px;
    background: linear-gradient(-135deg, transparent 10px, rgb(11, 198, 227) 0)
        right,
      linear-gradient(45deg, transparent 10px, rgb(11, 198, 227) 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  } */
