.Banner {
  width: 100%;
  height: 100%;
  position: relative;
  /* z-index: 0; 하면 밑에도영향,, */
}

.Banner .inner {
  width: 100%;
  margin: 0 auto;
}
.Banner_image {
  width: 100%;
  height: auto;
}

.Banner_position {
  z-index: 9999;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60%;
  /* overflow: hidden; */
  position: absolute;
  /* 추가 */
  z-index: 999;
  margin: 0 auto;
}
.Banner_position .Logo_position {
  width: 100%;
  height: 100%;
  position: absolute;
}
.Banner_position .Logo {
  width: 35%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.video_position {
  width: 100%;
  height: 100%;
}

.video_position .inner {
  box-sizing: border-box;
  padding: 5%;
}

.Banner .Banner_position .Banner_image2 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 999;
}

.Banner .Banner_position .Banner_position_line {
  width: 98%;
  height: 105%;
  border: 1px solid red;
  z-index: 9999;
  border-radius: 0 30px 0 30px;
  opacity: 0.6;
  transform: translate(-2.5%, -2.5%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.Banner .Banner_position .Banner_position_line:hover {
  border-radius: 0;
}

/* .Banner .Banner_position::after {
    content: "";
    position: absolute;
    width: 98%;
    height: 105%;
    background: linear-gradient(-135deg, blue 50px, red 0); 
    선만 바꾸기 불가능 ㅜㅜ
    border: 1px solid red;
    border-radius: 0 50px 0 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 59999;
  } */

/* .Banner .Banner_position::after:hover {
    border: 1px solid blue;
    border-radius: 0 1150px 0 0;
  }
  가상요소에 hover가 안되나? */

.play {
  background: rgb(11, 198, 227);
  position: absolute;
  padding: 15px 30px;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}

.play_line {
  position: absolute;
  top: -59%;
  left: -56%;
  transform: translate(50%, 50%);
  width: 105%;
  height: 105%;
  border: 1px solid rgb(211, 189, 186);
  border-radius: 30px 0 30px 0;
  transition: all 0.5s ease;
}

.play_line:hover {
  border-radius: 0;
}
