.Field {
  width: 100%;
  height: 100vh;
  background: rgb(3, 6, 8);
  position: relative;
  display: flex;
}

.Field .inner {
  margin: 0 auto;
  width: 1960px;
  position: relative;
}

.Field .Field_area {
  width: 50%;
  height: 100%;
}

.Field .Field_area img {
  width: 100%;
  height: 100%;
  animation: MoveAni 6s infinite;
}

.Field_position {
  position: absolute;
  top: 7%;
  left: -5%;
}

.Field .Field_area .position_play {
  position: absolute;
  color: white;
  top: 50%;
  left: 6%;
  font-weight: 700;
  -webkit-transform: rotate(-90deg);
}

.Field .Field_area .position_play::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  display: inline-block;
  width: 20px;
  height: 1px;
  background: white;
}

.Field #Field2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Field #Field2 .text {
  position: absolute;
  top: 40%;
  right: 25%;
  text-align: center;
  color: white;
}

.Field #Field2 .text p:nth-of-type(1) {
  font-size: 30px;
}

.Field #Field2 .text p:nth-of-type(2) {
  font-size: 75px;
  margin-top: -10px;
  font-weight: bold;
}

.Field #Field2 .text p:nth-of-type(3) {
  font-weight: 700;
  font-size: 15px 26px;
}

.Field #Field2 .box_area {
  width: 400px;
  height: 50px;
  display: flex;
  margin: 30px auto 0;
}

.Field #Field2 .div_box {
  margin: 0 20px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Field #Field2 .div_box:nth-of-type(1) {
  background: rgb(208, 168, 92);
}

.Field #Field2 .div_box:nth-of-type(2) {
  background: rgb(11, 198, 227);
}
.Field #Field2 .div_box::after {
  cursor: pointer;
  position: absolute;
  content: "";
  border: 1px solid rgb(211, 189, 186);
  width: 108%;
  height: 110%;
  transition: all 0.5s ease;
  border-radius: 30px 0 30px 0;
}

.Field #Field2 .div_box:hover::after {
  border-radius: 0;
}

@keyframes MoveAni {
  0% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-40px);
  }
}

@media screen and (max-width: 767px) {
  .Field #Field2 .text {
    right: 50%;
    transform: translateX(50%);
  }
}

@media screen and (max-width: 437px) {
  .Field #Field2 .text p:nth-of-type(3) {
    width: 60%;
    margin: 0 auto;
  }
  .Field #Field2 .box_area {
    height: 100px;
    display: flex;
    margin: 30px auto 0;
    flex-direction: column;
    align-items: center;
  }
  .Field #Field2 .div_box:nth-of-type(1) {
    background: rgb(208, 168, 92);
    margin-bottom: 20px;
  }
}
