.Information_container {
  width: 100%;
  height: 700px;
  background-image: url(../../../public/images//bg.png);

  position: relative;
}

.Information_container .inner {
  margin: 0 auto;
  width: 1960px;
}

.Information_container .text_header {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 110px;
}

.Information_container .text_header h1 {
  font-size: 25px;
}

.Information_container .text_header h4 {
  font-size: 75px;
  font-weight: 900;
}
.Information .position {
  position: relative;
}
.Information_container span {
  position: absolute;
  left: 1%;
  top: 14%;
  -webkit-transform: rotate(-90deg);
}

.Information_container span::after {
  position: relative;
  top: -4px;
  left: 5px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 1px;
  margin-left: 1px;
  background: black;
  font-weight: bold;
}

.Information_container .Information_img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 50%;
  position: relative;
  transform: translateY(240px);
  transition: all 2s ease;
}

.Information_container .Information_img.On {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 50%;
  position: relative;
  transform: translateY(-50px);
  transition: all 2s ease;
}

.Information_container .Information_img div {
  position: relative;
  margin: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Information_container .Information_img div::after {
  position: absolute;
  content: "";
  border: 1px solid rgb(211, 189, 186);
  top: -5%;
  border-radius: 0 40px 0 0;
  width: 88%;
  height: 100%;
  transition: all 0.5s ease;
}

.Information_container .Information_img div:hover::after {
  border-radius: 0;
}

.Information_container .Information_img div img {
  width: 90%;
  height: 70%;
}

.Information_container .Information_img div p {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .Information_container {
    height: auto;
  }

  .Information_container .inner {
    width: 100%;
  }
  .Information_container .Information_img.On {
    flex-direction: column;
  }

  .Information_container .Information_img div {
    margin: 30px 0;
  }

  .Information_container .Information_img div::after {
    height: 110%;
  }
}
