.Round {
  width: 100%;
  height: 140vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 2s ease;
}

.Round .inner {
  margin: 0 auto;
  width: 1960px;
}

.Round_text2 {
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.Round_text2 p {
  color: white;
}

.Round_text2 p:nth-of-type(1) {
  font-size: 30px;
}

.Round_text2 p:nth-of-type(2) {
  font-size: 70px;
}

.Round_text2 div {
  padding: 10px 20px;
  background: linear-gradient(-135deg, transparent 10px, rgb(11, 198, 227) 0)
      right,
    linear-gradient(45deg, transparent 10px, rgb(11, 198, 227) 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.Round_text2 div:hover {
  padding: 10px 20px;
  background: linear-gradient(-135deg, transparent 0, rgb(11, 198, 227) 0) right,
    linear-gradient(45deg, transparent 0, rgb(11, 198, 227) 0) left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.Round .Round_flex {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Round .Round_flex .Round_video {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  transition: all 2s ease;
}

.Round .Round_flex .Round_sub_flex.trans0 {
  position: absolute;
  display: flex;
  margin-top: 80px;
  top: 400px;
  left: 85.5%;
  /* 9기준으로하면 */
  transform: translateX(-50%);
  transition: all 2s ease;
  z-index: 999;
}

.Round .Round_flex .Round_sub_flex.trans1 {
  position: absolute;
  display: flex;
  margin-top: 80px;
  top: 400px;
  left: 50%;
  /* 9기준으로하면 */
  transform: translateX(-50%);
  transition: all 2s ease;
  z-index: 999;
}

.Round .Round_flex .Round_sub_flex.trans2 {
  position: absolute;
  display: flex;
  margin-top: 80px;
  top: 400px;
  left: 14.5%;
  /* 9기준으로하면 */
  transform: translateX(-50%);
  transition: all 2s ease;
  z-index: 999;
}

/* .Round .Round_flex .Round_sub_flex 123해서 각각 위치옮기기 */

.Round .Round_flex .Round_sub_flex div {
  position: relative;
  z-index: 99;
}

.Round .Round_flex .Round_sub_flex div img {
  margin: 0 20px;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 99;
}
/* 
.Round .Round_flex .Round_sub_flex.On img {
  transform: scale(0.5);
} */

.Round .Round_flex .Round_sub_flex .Round_img_1.On img {
  transition: all 2s ease;
  transform: scale(1.5);
}
.Round .Round_flex .Round_sub_flex .Round_img_2.On img {
  transition: all 2s ease;
  transform: scale(1.5);
}
.Round .Round_flex .Round_sub_flex .Round_img_3.On img {
  transition: all 2s ease;
  transform: scale(1.5);
}

.field {
  width: 80px;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 50px;
  background: rgb(11, 198, 227);
  opacity: 0;
  z-index: 1;
}

.field.On {
  position: relative;
  padding: 30px 50px;
  top: 180px;
  opacity: 1;
  transition: all 2s ease;
}

.Round_text {
  text-align: center;
  position: absolute;
  top: 800px;
  left: 50%;
  width: 800px;
  transform: translateX(-50%);
  display: block;
  opacity: 0;
  color: white;
}

.Round_text p:nth-of-type(1) {
  transition: all 1s ease;
  transform: translateY(-20px);
}

.Round_text p:nth-of-type(2) {
  transition: all 1s ease;
  transform: translateY(20px);
}

.Round_text.On p:nth-of-type(1) {
  transition: all 1s ease;
  transform: translateY(0);
}

.Round_text.On p:nth-of-type(2) {
  transition: all 1s ease;
  transform: translateY(0);
}

.Round_text.On {
  opacity: 1;
}

.Round_text.On p:nth-of-type(1) {
  font-weight: 700;
  font-size: 15px;
}

.Game_mode {
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(-90deg);
}

.Game_mode::after {
  content: "";
  width: 20px;
  height: 1px;
  background: white;
  position: absolute;
  right: -30px;
  top: 50%;
}
